@font-face {
  font-family: 'Roobert';
  src: url('/asset/fonts/Roobert_Regular/Roobert_Regular.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'Roobert';
  src: url('/asset/fonts/Roobert_SemiBold/Roobert_SemiBold.ttf');
  font-weight: bolder;
}
@font-face {
  font-family: 'Roobert';
  src: url('/asset/fonts/Roobert_Bold/Roobert_Bold.ttf');
  font-weight: bold;
}


* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

  

html,
body {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}
